/* стиль для нижнего блока */
.BottomBlock {
  background-color: rgb(245,157,121);;
  border: 1px solid rgb(245,157,121);;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.BottomBlock .vk {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.BottomBlock .inst {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.BottomBlock .devart {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.BottomBlock .a1 {
  margin: 3px 0px 0px 3px;
  font-size: 20px;
}
/* Media Queries(верстка) */
@media(max-width:375px){
  .BottomBlock .a1{
    font-size:15px;
  }
  .BottomBlock{
    width: 100%;
  }
}
