/* стиль для общего блока */
.MainBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  line-height: 10px;
  flex-wrap: wrap;
}
/* галерея */
.MainBlock .Galery {
  display: flex;
  flex-direction: column;
}
.MainBlock .GalIkon img {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  align-items: flex-start;
}
/* магазинчик */
.MainBlock .Shop {
  display: flex;
  flex-direction: column;
}
.MainBlock .ShopIkon img {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  align-items: flex-start;
}
/* подписи */
.MainBlock .content {
  display: flex;
  justify-content: center;
}
/* стиль для нижнего блока */
.BottomBlock1 {
  position: fixed;
  bottom: 0;
  font-size:13px;
  width: 100%;
}
/* Media Queries(верстка) */
@media(max-width:768px){
  .MainBlock{
    flex-direction:column;
  }
  .BottomBlock1{
    position: static;
    background-color: rgb(217,211,203);
  }
}
@media(max-width:320px){
  .MainBlock .GalIkon img {
      width: 280px;
      height: 280px;
  }
  .MainBlock .ShopIkon img {
    width: 280px;
    height: 280px;
  }
  
}
