/* Средний блок */
.MainBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap:wrap;
    margin-top: 50px;
}
.MainBlock .container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    margin-bottom: 15px;
} 
.container1 .pict1{
    display: flex;
    border:3px black solid;
}
.container1 .pict1 img{
    width: 600px;
}
.container1 .text1{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(217,211,203);
    font-size:25px;
} 
/* Media Queries(верстка) */
@media(max-width:611px) and (min-width:413px){
    .container1 .pict1 img{
        width:500px;
    }
}
@media(max-width:513px){
    .container1 .pict1 img{
        width:400px;
    }
}
@media(max-width:414px){
    .container1 .pict1 img{
        width:400px;
    }
    .container1 .text1{
        font-size:20px;
    }
}
@media(max-width:375px){
    .container1 .pict1 img{
        width:350px;
    }
}
@media(max-width:350px){
    .container1 .pict1 img{
        width:320px;
    }
}
@media(max-width:320px){
    .container1 .pict1 img{
        width:270px;
    }
}